body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.login{
  background-image: url("spireinsky.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 91vh;
}

.signup{
  background-image: url("castle.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 91vh;
}


:root {
  font-family: "PressStart2P";
  src: local("PressStart2P"),
    url("./PressStart2P.ttf") format("truetype");
  font-weight: normal;
}

li a:hover {
  color: grey;
}

.nav, .navbar {
  background-color: black;
  border: 1px solid white;
}

.add-border{
  border: 1px solid white;
}

form{
  padding: 10%;
  margin: 10%;
  width: 20%;
  background-color: rgb(218, 218, 218);
  border: 4px solid black;
  height: 80vh;
}

input{
  width: 60%;
}

table {
  border-collapse: separate;
  border-spacing:0 20px;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

tr{
  border: 1px solid white;
}