body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

:root {
  font-family: "PressStart2P";
  src: local("PressStart2P"),
    url("./PressStart2P.ttf") format("truetype");
  font-weight: normal;
}